/* Global Set, Common */
body {
  background-color: #363636;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  font-family: 'Nanum Gothic', sans-serif;
  box-sizing: border-box;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

.inner {
  width: 1100px;
  margin: 0 auto;
  position: relative;
}

form {
  display: flex;
  gap: 10px;
}

/* header */
header {
  width: 100%;
}

header .inner {
  display: flex;
  align-items: center;
}

header .logo {
  margin-right: 40px;
}

header .menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

header .menu li {
  padding: 10px;
  background-color: #65d561;
  border-radius: 5px;
}

header .menu li a {
  color: ;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 50px 10px;
}

.movie {
  --size: 300px;
  width: var(--size);
  height: calc(var(--size) * 3 / 2);
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}

.movie h2 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  padding: 20px 0;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(4px);
  color: white;
  font-size: 24px;
}

.movie img {
  width: 100%;
}

.actions {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.btn__more {
  font-size: 40px;
  padding: 20px 40px;
  background-color: orange;
  display: inline-block;
  border-radius: 10px;
  cursor: pointer;
}

.btn__more.hidden {
  display: none;
}
