.movie-container {
  /* background-color: orange; */
  display: flex;
  gap: 100px;
}

.movie-container .movie-info {
  width: 70%;
  background-color: orange;
  font-size: 18px;
}

.movie-container .movie-info h1 {
  font-size: 26px;
  color: red;
}

.movie-container .poster {
  --size: 300px;
  width: var(--size);
  height: calc(var(--size) * 3 / 2);
}

.movie-container .movie-info .short-info {
}

.movie-container .movie-info h3 {
  margin: 10px 0;
  color: red;
  font-weight: 600;
}

.movie-container .movie-info .ratings {
  display: flex;
  gap: 20px;
  background-color: grey;
}

.movie-container .movie-info .ratings .rating {
  display: flex;
  gap: 10px;
}

.movie-container .movie-info .ratings .rating img {
  height: 30px;
}

.movie-container .movie-info .plot {
}

.movie-container .movie-info .director {
}

.movie-container .movie-info .actors {
}

.movie-container .movie-info .type {
}
