body {
  background-color: var(--bs-body-color) !important;
  color: var(--bs-gray-100) !important;
}
body a {
  color: var(--bs-btn-color);
  text-decoration: none;
}

/* header */
header {
  padding: 10px 100px;
}
header H1 {
  color: VAR(--bs-gray-100);
  padding: 50px 0;
}
header .btns button:hover a {
  color: var(--bs-btn-hover-color);
}
header .search {
  padding: 60px 0;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
header .search input {
  width: 700%;
}
header .search button {
  width: 100%;
}

/* movies */
.movies-list {
  min-height: 300px;
  margin: 0 100px;
  background-color: var(--bs-gray-800);
  border-radius: 8px;
  position: relative;
}
.movies-list .text {
  margin: auto;
  font-size: 30px;
}
.movies-list .movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 50px 50px 70px;
}
.movie {
  position: relative;
}
.movie a {
  display: block;
}
.movie:hover {
  transform: translateY(-8px);
  transition: all 0.5s;
}
.movie .text-truncate {
  display: block;
  position: absolute;
  height: 30px;
  width: 200px;
  color: gainsboro;
  font-size: 20px;
  overflow-y: hidden;
}
.movie img {
  --size: 200px;
  width: var(--size);
  height: calc(var(--size) * 3 / 2);
  border-radius: 5px;
  margin: auto;
  cursor: pointer;
}

.actions {
  display: flex;
  justify-content: center;
  padding: 80px 0;
}
.movie-list img {
  width: 10px;
  height: 10px;
}
.bottom {
  height: 80px;
  background-color: var(--bs-body-color);
}

/* movie-detail */
.movie-detail {
  padding: 50px 0;
  background-color: gainsboro;
  border-radius: 10px;
  margin-top: 60px;
  margin-bottom: 100px;
  color: var(--bs-gray-800);
  position: relative;
}
.movie-detail .detail-loading {
  /* text-align: center; */
  position: absolute;
  left: calc(50% - 2.5rem);
  top: calc(50% - 2.5rem);
}
.movie-detail .row {
  align-items: center;
  padding-right: 50px;
}

.movie-detail .poster {
  --size: 400px;
  width: var(--size);
  height: calc(var(--size) * 3 / 2);
  margin: auto;
  display: block;
}
.movie-detail .detail-info .title-info {
  font-weight: 600;
  margin-bottom: 20px;
}
.movie-detail .detail-info .title-info strong {
  font-size: 100px;
}
.movie-detail .detail-info .info {
  color: midnightblue;
}
.movie-detail .detail-info .ratings {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}
.movie-detail .detail-info .ratings img {
  height: 30px;
  display: inline;
}
.movie-detail .detail-info .ratings span {
  margin: 0 10px;
}

.skeletons .skeleton_poster {
  --size: 400px;
  width: var(--size);
  height: calc(var(--size) * 3 / 2);
  margin: auto;
  display: block;
  background-color: grey;
  opacity: 0.5;
  border-radius: 8px;
}
.skeletons .skeleton_text {
  height: 25px;
  background-color: grey;
  opacity: 0.5;
  border-radius: 5px;
  margin-bottom: 15px;
}
.skeletons h1.skeleton_text {
  height: calc(1.375rem + 1.5vw + 20px);
}
.skeletons p.skeleton_text.skeleton_plot {
  height: 250px;
}
.skeletons .skeleton_text.skeleton_strong {
  height: 30px;
}
.hidden {
  display: none !important;
}
